
<body>
    <div class="page-header">
        <h1><a href="/">Django</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">

                {% block content %}
                <ul>
                    {% for pastel in lista %}
                    <li>Pastel de: {{pastel.nome}}</li>                    
                    {% endfor %}
                </ul>
                {{ msg }}
                {% endblock %}
            </div>
        </div>
    </div>
</body>